{% extends 'base.html' %}

{% block content %}
<h1>Flanes Privados</h1>
<div class="container">
    <div class="row">
        {% for flan in flanes %}
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}